.big_title {
    text-align: center;
    font-size: 54px;
    margin-top: 54px;
}
.smalltitle {
    text-align: center;
    display: block;
}
.smalltitleprofile {
    text-align: center;
    margin-top: 4px;
    margin-bottom: 4px;
    color: white;
    display: block;
}
.smalltitleblog {
    text-align: left;
    display: block;
    margin-left: 6px;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 38px;
}
.smallsummaryblog {
    margin-left: 6px;
    margin-right: 0;
    margin-top: 0px;
    margin-bottom: 0;
}

.totalblogdiv {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 300px;
    border: 3px solid black;
}
.titleandsummarydivblog{
    display: inline-block;
    float: left;
    width: 40%;
    height: 100%;
}
.titledivblog {
    width: 100%;
    height: 15%;
    border: 1px solid black;
}
.summarydivblog {
    width: 100%;
    height: 85%;
    border: 1px solid black;
}
.imagedivblog {
    display: inline-block;
    float: right;
    width: 60%;
    height: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 0px;
    border-right: 0px;
}

.personalinfotitle {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    background-color: black;
    border: 3px solid black;
}
.personalinfo {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: white;
    border: 3px solid black;
}
.profilephoto {
    display: inline;
    margin-top: 4px;
    margin-left: 2%;
}
.arnemuiden {
    display: inline;
    margin-left: 9%;
}
.svpo {
    display: inline;
    margin-left: 9%;
}
.divisiveline {
    color: white;
    opacity: 0.0;
    margin: 0;
}
.inflistmostleft {
    display: inline-block;
    padding-left: 2%;
    margin-top: 0;
    margin-bottom: 0;
}
.inflistlessleft {
    display: inline-block;
    padding-left: 10%;
    margin-top: 0;
    margin-bottom: 0;
}
.inflistcenter {
    display: inline-block;
    padding-left: 10%;
    margin-top: 0;
    margin-bottom: 0;
}
.inflistlessright {
    display: inline-block;
    padding-left: 10%;
    margin-top: 0;
    margin-bottom: 0;
}
.inflistmostright {
    display: inline-block;
    padding-left: 10%;
    margin-right: 5%;
    margin-top: 0;
    margin-bottom: 0;
}

.nav_bar_1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.nav_bar_2 {
    float: left;
}
.nav_bar_2 a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.nav_bar_2 a:hover {
    background-color: #111;
}

.dropdown {
    float: left;
}
.dropdown .dropbtn {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.dropdown-content a {
    display: block;
    color: white;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
}
.dropdown a:hover {
    background-color: #111;
}
.dropdown-content {
    display: none;
    position: fixed;
    background-color: #333;
    min-width: 0px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
}

.popup {
    margin: 0;
    height: 75%;
    width: 2%;
    right: 0;
    top: 12.5%;
    text-decoration: none;
    background-color: #333;
    position: fixed;
}
.popup:hover .popup {
    height: 0%;
}
.popup:hover .nav_bar_3 {
    height: 75%;
}
.popup:hover .nav_bar_3 a {
    display: block;
}
.popup:hover .asidetext {
    display: none;
}

.nav_bar_3 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%;
    min-width: 192px;
    background-color: #333;
    height: 0%;
    position: fixed;
    overflow: auto;
    top: 12.5%;
    right: 0;
}
.nav_bar_3 a {
    display: none;
    color: white;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
}
.nav_bar_3 a:hover {
    background-color: #111;
}

#active {
    background-color: #04AA6D;
}

nav {
    font-family: Arial, Helvetica, sans-serif;
}