.big_title {
    text-align: center;
    font-size: 54px;
    margin-top: 54px;
    margin-bottom: 18px;
}
.smalltitle {
    text-align: center;
    display: block;
}

.divider {
    margin: 0;
    opacity: 0.0;
}

.smalltitleprofile {
    text-align: center;
    margin-top: 4px;
    margin-bottom: 4px;
    color: white;
    display: block;
}
.smalltitleblog {
    text-align: left;
    display: block;
    margin-left: 6px;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 38px;
}
.smallsummaryblog {
    display: inline;
    margin-left: 6px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.readmoretext {
    display: inline;
    color: blue;
    margin-left: 6px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.dashboardflextable {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 90%;
}

.dashboardtable {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    border-spacing: 0px;
}
.dashboardtablebigtitleblock {
    padding: 0;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 0px solid black;
    border-right: 2px solid black;
    width: 20%;
    background-color: black;
    color: white;
}
.dashboardtablemostleftbigtitleblock {
    padding: 0;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    width: 20%;
    background-color: black;
    color: white;
}
.dashboardtableblock {
    padding: 0;
    border-top: 0px solid black;
    border-bottom: 2px solid black;
    border-left: 0px solid black;
    border-right: 2px solid black;
    width: 20%;
}
.dashboardtableblockECRed {
    padding: 0;
    border-top: 0px solid black;
    border-bottom: 2px solid black;
    border-left: 0px solid black;
    border-right: 2px solid black;
    width: 20%;
    background-color: red;
}
.dashboardtablemostleftblock {
    padding: 0;
    border-top: 0px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    width: 20%;
}
.dashboardECRed {
    display: inline-block;
    margin-top: 10px;
    margin-left: 5%;
    height: 30px;
    width: 30px;
    background-color: red;
    border: 2px solid black;
}
.dashboardECGreen {
    display: inline-block;
    margin-left: 5%;
    height: 30px;
    width: 30px;
    background-color: green;
    border: 2px solid black;
}
.dashboardECparagraph {
    margin: 0;
    display: inline;
}

.smalltitlelessmargin {
    text-align: center;
    margin-top: 18px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    display: block;
}
.NBSAParagraph {
    margin: 4px;
    text-align: center;
}
.NBSABar {
    width: 90%;
    min-height: 30px;
    margin-left: 5%;
    margin-right: 5%;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.NBSABarLeftFill {
    display: none;
    width: 0%;
    min-height: 30px;
    background-color: green;
}
.NBSABarLeftEmpty {
    width: 75%;
    min-height: 30px;
}
.NBSABarLeftRightDivider {
    width: 0%;
    min-height: 30px;
    background-color: red;
}
.NBSABarRightFill {
    Display: none;
    width: 0%;
    min-height: 30px;
    background-color: Green;
}
.NBSABarRightEmpty {
    width: 25%;
    min-height: 30px;
}

.questiondiv {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
    border: 2px solid black;
    width: 50%;
}
.question {
    margin-left: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
}
.answer {
    margin-right: 4px;
    margin-left: 4px;
    margin-top: 4px;
    margin-bottom: 4px;  
}

.totalblogdiv {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 300px;
    border: 3px solid black;
}
.titleandsummarydivblog{
    /*display: inline-block;*/
    float: left;
    width: 40%;
    height: 100%;
}
.titledivblog {
    width: 100%;
    height: 15%;
    border: 1px solid black;
}
.summarydivblog {
    width: 100%;
    height: 85%;
    border: 1px solid black;
}
.imagedivblog {
    /*display: inline-block;*/
    float: right;
    width: 60%;
    height: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 0px;
    border-right: 0px;
}
.blogpostdiv {
    width: 90%; 
    margin-left: auto; 
    margin-right: auto;
}
.blogpostsmalltitle {
    text-align: center; 
    text-decoration: underline; 
    margin-top: 0;
}
.blogpostparagraph {
    text-align: center;
}

.personalinfotitle {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    width: 80%;
    background-color: black;
    border: 3px solid black;
}
.personalinfo {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: white;
    border: 3px solid black;
}
.personalinfosection {
    height: 100%;
    width: 32%;
    display: inline-block;
}
.infoimage {
    margin-top: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.infolist {
    text-align: center;
    padding: 0;
}

.nav_bar_1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.nav_bar_2 {
    float: left;
}
.nav_bar_2 a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.nav_bar_2 a:hover {
    background-color: #111;
}

.dropdown {
    float: left;
}
.dropdown .dropbtn {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.dropdown-content a {
    display: block;
    color: white;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
}
.dropdown a:hover {
    background-color: #111;
}
.dropdown-content {
    display: none;
    position: fixed;
    background-color: #333;
    min-width: 0px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
}

.popup {
    margin: 0;
    height: 75%;
    width: 2%;
    right: 0;
    top: 12.5%;
    text-decoration: none;
    background-color: #333;
    position: fixed;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}
.popup:hover .popup {
    height: 0%;
}
.popup:hover .nav_bar_3 {
    height: 75%;
}
.popup:hover .nav_bar_3 a {
    display: block;
}
.popup:hover .asidetext {
    display: none;
}

.nav_bar_3 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%;
    min-width: 192px;
    background-color: #333;
    height: 0%;
    position: fixed;
    overflow: auto;
    top: 12.5%;
    right: 0;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}
.nav_bar_3 a {
    display: none;
    color: white;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
}
.nav_bar_3 a:hover {
    background-color: #111;
}

#active {
    background-color: #04AA6D;
}

nav {
    font-family: Arial, Helvetica, sans-serif;
}